
#player > img{
    width: 60px;
    bottom: 0px;
}
#obstacle > img{
  width: 70px;
  background-image: none;
}
#player{
    left: 30px;
    bottom: -50px;
    position: absolute;
    background-image: none;
}

#obstacle{
    max-width: fit-content;
    bottom: -48px;
    position: absolute;
    animation: obstacle 2s infinite linear;
}
.container-game{
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-bottom: 10px solid black;
}

.jump{
  animation: jump 500ms ease-out;
}
.btn-play{
  border-radius: 100%;
  font-style: italic;
  width: 25%;
  height: 50px;
  margin-left: 73%;
  margin-top: 10px;
  position: inline;
  color: white;
  background-color: black;
  text-align: center;
}
@keyframes obstacle {
    from{
        right: -80px;
    }to{
        right: 100%;
    }
    
}

@keyframes jump {
    0%{
        bottom: 0;
    
    }40%{
        bottom: 60px;
    }
    50%{
        bottom: 60px;
    }60%{
        bottom: 60px;
    }
    70%{
        bottom: 60px;
    }
    100%{
        bottom: 0;
    }
}
@media only screen and (max-width: 800px) {
    *{
      margin: 0;
      padding: 0;
    }
    #obstacle{
        max-width: fit-content;
        bottom: -50px;
        position: absolute;
        animation: obstacle 1s infinite linear;
    }
    
  }
